@import 'src/styles.scss';

.profile-photo {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}

.upload-btn-container {
  position: relative;
  width: 100%;

  .upload-progress-spinner {
    position: absolute;
    right: -10%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}


.profile-info-container {
  width: 50%;

  h4 {
    margin-bottom: 0 !important;
    width: 120px;
  }
}

.mat-icon-btn {
  &:hover {
    cursor: pointer;
  }
}

mat-icon {
  color: $primary-color;
}
