<div class="blog-editor-container" fxLayout="row" fxLayoutAlign="space-between start">
  <div class="blog-info">
    <form [formGroup]="blogInfoForm" fxLayout="column">
      <div fxLayout="column" fxLayoutGap="6px">
        <label>* Title</label>
        <mat-form-field appearance="outline">
          <input matInput [formControlName]="'title'" placeholder="title, length < 30">
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutGap="6px">
        <label>* Summary</label>
        <mat-form-field appearance="outline">
          <textarea matInput [formControlName]="'summary'" placeholder="summary, length < 60"></textarea>
        </mat-form-field>
      </div>

      <div class="select-category" style="margin-bottom: 20px;">
        <mat-form-field appearance="outline" class="select-form-field w-100">
          <mat-label>Select a category</mat-label>
          <mat-select [formControlName]="'category'">
            <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="add-category" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="6px">
          <button type="button" mat-button color="primary" (click)="toggleAddCategory()">+ Add new category</button>
          <div *ngIf="showAddCategory" fxLayout="row" fxLayoutGap="8px">
            <input matInput appearance="outline" placeholder="new category" [(ngModel)]="newCategoryName" [ngModelOptions]="{standalone: true}">
            <mat-error *ngIf="showCategoryExistedError">category already existed</mat-error>
            <button type="button" mat-raised-button color="primary" (click)="addCategory(newCategoryName)">Add</button>
          </div>
        </div>
      </div>

      <div class="upload-img">
        <div>
          <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Upload image</button>
          <mat-progress-spinner
            *ngIf="!!imgUploadPercentage"
            class="upload-progress-spinner"
            [color]="'primary'"
            [mode]="'determinate'"
            [value]="imgUploadPercentage"
            [diameter]="25">
          </mat-progress-spinner>
        </div>
        <input hidden (change)="uploadImage($event)" #fileInput type="file" id="file">
      </div>

    </form>
  </div>

  <div class="editor">
    <mat-form-field appearance="outline" class="editor-form-field w-100">
      <textarea matInput [(ngModel)]="markdown"></textarea>
    </mat-form-field>
  </div>
</div>

