<div fxLayout="column">
  <div fxLayout="row" fxLayoutGap="8%" class="category-blog-container" *ngIf="categories && allBlogs">
    <div fxLayout="column" class="categories">
      <div fxLayout="row" fxLayoutAlign="center center">
        <h3 class="primary-color category-title">CATEGORIES</h3>
      </div>
      <mat-divider></mat-divider>
      <div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="select-category-option"
             (click)="selectCategory()" [ngClass]="!selectedCategory ? 'selected' : ''">
          <div>All</div>
          <div>{{allBlogsNumber}}</div>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div *ngFor="let category of categories">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="select-category-option"
             (click)="selectCategory(category)" [ngClass]="selectedCategory == category ? 'selected' : ''">
          <div>{{category.name}}</div>
          <div>{{category.blog_number}}</div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>

    <div class="blogs" fxLayout="column" fxLayoutGap="20px">
      <div *ngFor="let blog of selectedBlogs">
        <app-blog-display-card [blog]="blog" (click)="selectBlog(blog)"></app-blog-display-card>
      </div>
      <div *ngIf="hasMoreBlogs && !loadMoreBlogs" fxLayout="row" fxLayoutAlign="center center">
        <div class="see-more-button" (click)="seeMoreBlogs()">See More Blogs</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loadMoreBlogs">
        <mat-progress-spinner
          class="upload-progress-spinner"
          [color]="'primary'"
          [mode]="'indeterminate'"
          [diameter]="25">
        </mat-progress-spinner>
      </div>
    </div>
  </div>
</div>
