.nav-bar-container {
  position: relative;

  .no-user-buttons {
    position: absolute;
    right: 3%;
    z-index: 5;
  }

  .profile {
    position: absolute;
    right: 3%;
    height: 40px;
    width: 40px;

    #profile-photo-btn {
      z-index: 5;
      border-radius: 50%;
      height: 100%;
      min-width: 100%;
      padding: 0;

      #profile-photo {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
