@use '~@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-color: mat.get-color-from-palette(mat.$indigo-palette, 500);

.primary-color {
  color: $primary-color;
}

.text-bold {
  font-weight: 500 !important;
}

.w-100 {
  width: 100% !important;
}

//blockquote {
//  background: rgba(10,133,255,.14);
//  border-left: 4px solid #06c;
//  border-radius: 4px;
//  color: #666;
//  margin: 20px 0;
//  padding: 1px 20px;
//}
