<div class="write-blog-container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Editor" fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!user" style="height: 90vh">
        <mat-spinner class="spinner"></mat-spinner>
      </div>
      <app-blog-editor [user]="user" [blog]="blog" *ngIf="isReady"></app-blog-editor>
    </mat-tab>
    <mat-tab label="Preview">
      <div class="preview-container" fxLayout="row" fxLayoutAlign="center start" *ngIf="blogEditor">
        <div fxLayout="column" class="preview-col-1" fxLayoutGap="36px">
          <div fxLayout="column" fxLayoutGap="20px">
            <div *ngIf="blogEditor.blogInfoForm.get('image_url').value">
              <img class="blog-preview-img" src="{{blogEditor.blogInfoForm.get('image_url').value}}">
            </div>
            <div fxLayout="row-reverse" fxLayoutAlign="space-between center">
              <div class="blog-preview-date" *ngIf="lastEditDate.length">Last Edited: <span>{{lastEditDate}}</span></div>
              <div *ngIf="blogEditor.blogInfoForm.get('category').value?.name" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <mat-icon color="primary">category</mat-icon>
                <span class="blog-preview-category">{{blogEditor.blogInfoForm.get('category').value.name}}</span>
              </div>
            </div>
            <h1 class="blog-preview-title" *ngIf="blogEditor.blogInfoForm.get('title').value?.length">{{blogEditor.blogInfoForm.get('title').value.trim()}}</h1>
          </div>
          <markdown class="blog-preview-content" [data]="blogEditor.markdown"></markdown>

          <button mat-fab color="primary" class="back-to-top-button" *ngIf="pageYOffset > 400" (click)="scrollToTop()">
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
        </div>

<!--        <div class="table-of-content" class="preview-col-2"></div>-->
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="button-container" fxLayout="row" fxLayoutGap="10px" *ngIf="!!user">
    <button mat-button color="primary" class="nav-button" (click)="onSubmit()">Submit</button>
    <button mat-button color="warn" class="nav-button" (click)="onExit()">Exit</button>
  </div>
</div>
